Django==4.2.10
asgiref==3.7.2
django-filter==23.3
django-tinymce==3.6.1
env==0.1.0
environ==1.0
eventlet==0.33.3
fabio==2023.4.1
falcon==3.1.1
filelock==3.12.2
flake8==6.1.0
fonttools==4.40.0
greenlet==3.0.1
gunicorn==21.2.0
h5py==3.8.0
html5lib==1.1
Pillow==9.5.0
sqlparse==0.4.4
pytz==2023.3
virtualenv==20.24.2
wcwidth==0.2.6
webencodings==0.5.1
Werkzeug==3.0.1
whitenoise==6.5.0
wrapt==1.15.0
zopfli==0.2.3


