{% extends 'base.html' %}
{% load static %}

{% block title %}
    Real-Time Chart
{% endblock %}

{% block content %}
<!-- Full-width Content Section -->
<div class="container-fluid mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <!-- TradingView Advanced Real-Time Chart Widget Embed Code -->
            <div class="tradingview-widget-container__widget" id="tradingview_widget"></div>
        </div>
    </div>
</div>

<!-- TradingView Advanced Real-Time Chart Widget Script (if not already included) -->
<script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>

<!-- TradingView Widget Initialization Script -->
<script type="text/javascript">
    new TradingView.widget(
        {
            "autosize": false,
            "symbol": "AAPL",
            "interval": "1",
            "timezone": "Etc/UTC",
            "theme": "light",
            "style": "1",
            "locale": "en",
            "width": "90%",
            "height": 700,
            "toolbar_bg": "#f1f3f6",
            "enable_publishing": false,
            "container_id": "tradingview_widget",
            "hide_top_toolbar": false,
            "withdateranges": true,
            "studies": [
                "MA@tv-basicstudies",
                "RSI@tv-basicstudies",
                "MACD@tv-basicstudies"
            ],
            "drawings_access": { "type": "black", "tools": [ { "name": "Regression Trend" } ] },
            "theme": "light",
            "style": 1,
            "hide_side_toolbar": false,
            "allow_symbol_change": true,
            "save_image": false,
            "details": true,
            "hotlist": true,
            "calendar": true,
            "news": [
                "stocktwits",
                "headlines"
            ],
            "show_popup_button": true,
            "popup_width": "1000",
            "popup_height": "650",
            "locale": "en",
            "overrides": {
                "paneProperties.background": "#1e2530",
                "paneProperties.vertGridProperties.color": "#283340",
                "paneProperties.horzGridProperties.color": "#283340",
                "symbolWatermarkProperties.transparency": 90,
                "scalesProperties.textColor": "#8791a4",
                "mainSeriesProperties.candleStyle.upColor": "#00cc69",
                "mainSeriesProperties.candleStyle.downColor": "#e74c3c",
                "mainSeriesProperties.candleStyle.drawWick": true,
                "mainSeriesProperties.candleStyle.drawBorder": true,
                "mainSeriesProperties.candleStyle.borderColor": "#00cc69",
                "mainSeriesProperties.candleStyle.borderUpColor": "#00cc69",
                "mainSeriesProperties.candleStyle.borderDownColor": "#e74c3c",
                "mainSeriesProperties.candleStyle.wickUpColor": "#00cc69",
                "mainSeriesProperties.candleStyle.wickDownColor": "#e74c3c"
            }
        }
    );

   // Adjust the height based on the screen width
   function adjustChartHeight() {
    var width = window.innerWidth ||
        document.documentElement.clientWidth ||
        document.body.clientWidth;

    var height;
    if (width <= 768) {
        height = 300;
    } else if (width <= 1200) {
        height = 400;
    } else {
        height = 650;
    }

    document.getElementById('tradingview_widget').style.height = height + 'px';
}

// Call the function initially and on window resize
adjustChartHeight();
window.addEventListener('resize', adjustChartHeight);


</script>


{% endblock %}
