
{% extends 'base.html' %}

<style>
    /* styles.css */

.messages-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .message-list {
    margin-bottom: 20px;
  }
  
  .message-ul {
    list-style: none;
    padding: 0;
  }
  
  .message-item {
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 15px;
  }
  
  .reply-link {
    display: block;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
  }
  
  /* Responsive styles for smaller screens */
  @media screen and (max-width: 600px) {
    .message-item {
      padding: 10px;
    }
  }
</style>

{% block content %}
  <div class="messages-container">
    <h3>Message List</h3>

    <div class="message-list">
      <h2>Sent Messages</h2>
      <ul class="message-ul">
        {% for message in messages %}
          <li class="message-item">
            <strong>To: {{ message.recipient.username }}</strong>
            <span>{{ message.timestamp }}</span>
            <p>{{ message.content }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="message-list">
      <h4>Inbox</h4>
      <ul class="message-ul">
        {% for message in inbox %}
          <li class="message-item">
            <strong>From: {{ message.sender.username }}</strong>
            <span>{{ message.timestamp }}</span>
            <p>{{ message.content }}</p>
            <a class="reply-link" href="{% url 'send_message' recipient_id=message.sender.id %}">Reply</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
