
{% extends 'base.html' %}

<style>
    /* styles.css */

.message-container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .message-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .message-form label {
    font-weight: bold;
  }
  
  .message-form input,
  .message-form textarea {
    padding: 10px;
    margin-bottom: 12px;
    box-sizing: border-box;
    width: 100%;
  }
  
  .message-form button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Responsive styles for smaller screens */
  @media screen and (max-width: 600px) {
    .message-form {
      padding: 10px;
    }
  }
</style>

{% block content %}
  <div class="message-container">
    <h1>Send Message</h1>
    <form method="post" class="message-form">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Send Message</button>
    </form>
  </div>
{% endblock %}
